<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="boppApp">
    <head>
        <title>Bopp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/leaflet/dist/leaflet.js"></script>
        <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    </head>
    <body ng-controller="MapController">
        <!--<form>
            Latitude : <input type="number" step="any" ng-model="center.lat">
            Longitude : <input type="number" step="any" ng-model="center.lng">
            Zoom : <input type="number" step="any" ng-model="center.zoom">
        </form>-->
        <leaflet center="center" markers="markers" width="100%" height="480px"></leaflet>
        <script src="app/ng/boppApp.js"></script>
        <script src="app/ng/boppCtrl.js"></script>
        <script src="app/ng/mapController.js"></script>
    </body>
</html>